* {
    margin: 0;
    padding: 0;
    font-family: system-ui;
    box-sizing: border-box;
}

@font-face {
    font-family: 'adFont';
    src: url(ArchitectsDaughter-Regular.ttf);
}

body {
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: nowrap;
}

.left {
    outline: 2px solid black;
}

.right {
    display: flex;
    flex-direction: column;
    outline: 2px solid black;
}

.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 25vw;
    color: rgb(88, 32, 6);
    background-color: cadetblue;
    background-image: url(coffee.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: luminosity;
    background-position: left; /* do I need this, or just move the div */
}

.logo {
    display: flex;
    justify-content: center;
    background-color: rgba(122, 178, 178, 0.6);
    flex-wrap: wrap;
}

.logo-image {
    font-size: medium;
}

.logo-title {
    font-family: 'adFont', system-ui;
    padding: 10px 0;
    flex-wrap: wrap;
}

.logo-footer {
    bottom: 0px;
    position: absolute;
    width: 25vh;
    font-size: small;
}

.form-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    outline: 2px solid black;
    height: 25vh;
    width: 75vw;
}

.form-header h1, p {
    font-size: 20px;
    font-family: 'adFont', system-ui;
    padding-left: 5%;
}

.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    outline: 2px solid black;
    height: 50vh;
    width: 75vw;
}

input:invalid:focus {
    border: 2px solid red;
}

.submit-div {
    outline: 2px solid black;
    height: 25vh;
    width: 75vw;
}

/* @media (max-width: 700px) {
    .logo-container {
        flex-direction: row;
    }
} */