* {
    margin: 0;
    padding: 0;
    font-family: system-ui;
}

body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
}

.logo-container {
    outline: 2px solid black;
    height: 100vh;
    width: 25vw;
    color: aquamarine;
    background-color: cadetblue;
    background-image: url(coffee.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: difference;
    /* padding-top: 200px;
    padding-bottom: 200px; */
    background-position: left; /* do I need this, or just move the div */
}

.form-header {
    outline: 2px solid black;
}

.form {
    outline: 2px solid black;
}

.submit-div {
    outline: 2px solid black;
}